@import 'styles/_colors';

#root {
	height: 100vh;
}

.app {
	background-color: $lightBlue;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
