@import 'styles/_colors';
@import 'styles/_spacing';

.topNavigation {
	align-items: center;
	background-color: $darkBrown;
	display: flex;
	color: white;
	font-size: 36px;
	min-height: 75px;
	padding: 0px $medium;
	text-shadow: 2px 2px $darkGray;
	-webkit-text-stroke: 1px $darkGray;
}

.imageContainer {
	display: flex;
	width: 50px;
	img {
		min-width: 100%;
		pointer-events: none;
	}
}

.content {
	padding: 0px 0px $small $small;
}
