@import 'styles/_spacing';

.search {
	align-items: baseline;
	display: flex;
	justify-content: center;
}

.imageContainer {
	align-items: center;
	display: flex;
	justify-content: end;
	max-width: 30%;
	// overflow: hidden;
	img {
		max-width: 75%;
		pointer-events: none;
		// min-height: 100%;
	}
}

.form {
	display: flex;
}

.input {
	min-width: 500px;
}

.inputWrapper {
	margin-right: $large;
}

.searchIcon {
	font-size: 16px;
	padding-right: $small;
}

// .buttonIcon {
// 	font-size: 20px;
// }
